<div>
    <h1>Registro</h1>
    <form action="/api/users" method="post">
        <label>Nombre</label>
        <input name="name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <label>Edad</label>
        <input type="number" name="age">
        <label>Teléfono</label>
        <input name="phone">
        <input type="submit">
    </form>
</div>