<div>
    {{#each students}}
    <p>{{this.first_name}}</p>
    {{/each}}
    {{#if hasPrevPage}}
    <a href="/students?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    
    {{#if hasNextPage}}
    <a href="/students?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
</div>