<div>
    <h1>Restaura la contraseña del usuario</h1>
    <form id="restartPasswordForm">
        <label>Correo electrónico</label>
        <input name="email">
        <label>Nueva contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>

<script src="/js/restartPassword.js"></script>